* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

.title {
  text-align: center;
  padding-bottom: 81px;
}
.title h2 {
  font-size: 40px;
  font-weight: 400;
  color: #000000 !important;
  line-height: 36px;
}

header .header__top {
  background-color: #000000;
}
header .header__top img {
  width: 116px;
  height: 32px;
}
header .header__top li {
  list-style: none;
  padding-left: 20px;
}
header .header__top li img {
  width: 31px;
  height: 31px;
  vertical-align: text-bottom;
}
header .header__top li span {
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF !important;
  line-height: 36px;
}
header .header__top li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF !important;
  line-height: 19px;
}
header #navbarNav .navbar-nav .nav-item .nav-link {
  font-size: 20px;
  font-weight: 300;
  color: #000000 !important;
  line-height: 24.2px;
  opacity: 0.7;
  transition: 0.2s;
}
header #navbarNav .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transform: scaleX(0);
  transition: 0.2s;
}
header #navbarNav .navbar-nav .nav-item .nav-link:hover::after {
  transform: scaleX(1);
}
header #navbarNav .navbar-nav .nav-item .active {
  font-size: 20px;
  font-weight: 400;
  color: #000000 !important;
  line-height: 24.2px;
}
header #navbarNav .navbar-nav .nav-item .active::after {
  transform: scaleX(1);
}
header #navbarNav .navbar-nav .nav-item .disabled {
  font-size: 20px;
  font-weight: 400;
  color: #000000 !important;
  line-height: 24.2px;
}

/**---------------RESPONSIVE--------------------**/
@media screen and (max-width: 767.98px) {
  header .nav-link.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 1px;
    left: 0;
    top: 82px;
    background: #030303;
    border: 1px solid #000000;
  }
}
@media screen and (max-width: 400px) {
  header .header__top .trongvan {
    display: none;
  }
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  background: transparent;
  border: none;
}
.carousel .carousel-control-prev .polygon-1, .carousel .carousel-control-prev .polygon-2,
.carousel .carousel-control-next .polygon-1,
.carousel .carousel-control-next .polygon-2 {
  position: absolute;
  left: 40px;
  top: 165px;
}
.carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  margin-right: 23px;
  margin-bottom: 72px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.carousel .carousel-item.active {
  height: 530px;
  background-image: url(/assets/img/image\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.1s;
}
.carousel .carousel-item.active .carousel__left {
  width: 70%;
}
.carousel .carousel-item.active .carousel__left img {
  width: 70em;
  padding-left: 122px;
  padding-bottom: 120px;
  object-fit: cover;
}
.carousel .carousel-item.active .carousel__right {
  width: 30%;
  padding-bottom: 120px;
}
.carousel .carousel-item.active .carousel__right h2 {
  font-size: 40px;
  font-weight: 300;
  color: #000000 !important;
  line-height: 48.41px;
}
.carousel .carousel-item.active .carousel__right p {
  font-size: 20px;
  font-weight: 300;
  color: #000000 !important;
  line-height: 24.2px;
  margin-bottom: 35px;
}
.carousel .carousel-item.active .carousel__right a {
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF !important;
  line-height: 24.2px;
  text-decoration: none;
  padding: 13px 35px 13px 35px;
  background-color: #F8B653;
}

/**---------------RESPONSIVE--------------------**/
@media screen and (max-width: 1199.98px) {
  .carousel #carouselCapstone .carousel-control-prev .polygon-1, .carousel #carouselCapstone .carousel-control-prev .polygon-2,
.carousel #carouselCapstone .carousel-control-next .polygon-1,
.carousel #carouselCapstone .carousel-control-next .polygon-2 {
    left: 20px;
    top: 30vh;
  }
  .carousel #carouselCapstone .carousel-control-prev .polygon-2,
.carousel #carouselCapstone .carousel-control-next .polygon-2 {
    right: 20px;
    top: 30vh;
  }
  .carousel #carouselCapstone .carousel-item.active {
    height: 60vw;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__left img {
    width: 90vw;
    padding-left: 0;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right {
    width: 40vw;
    margin-left: 20px;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right h2 {
    font-size: 3vw;
    font-weight: 300;
    color: #000000 !important;
    line-height: 48.41px;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right p {
    font-size: 2vw;
    font-weight: 300;
    color: #000000 !important;
    line-height: 24.2px;
    margin-bottom: 35px;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right a {
    font-size: 2vw;
    font-weight: 300;
    color: #FFFFFF !important;
    line-height: 24.2px;
  }
}
@media screen and (max-width: 921.98px) {
  .carousel #carouselCapstone .carousel-control-prev .polygon-1, .carousel #carouselCapstone .carousel-control-prev .polygon-2,
.carousel #carouselCapstone .carousel-control-next .polygon-1,
.carousel #carouselCapstone .carousel-control-next .polygon-2 {
    left: 20px;
    top: 27vh;
  }
  .carousel #carouselCapstone .carousel-control-prev .polygon-2,
.carousel #carouselCapstone .carousel-control-next .polygon-2 {
    right: 20px;
    top: 27vh;
  }
  .carousel #carouselCapstone .carousel-item.active {
    height: 60vw;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__left img {
    width: 100vw;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right {
    width: 30vw;
    margin-left: 20px;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right h2 {
    margin-bottom: 0;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right p {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 575.98px) {
  .carousel #carouselCapstone .carousel-control-prev .polygon-1, .carousel #carouselCapstone .carousel-control-prev .polygon-2,
.carousel #carouselCapstone .carousel-control-next .polygon-1,
.carousel #carouselCapstone .carousel-control-next .polygon-2 {
    left: 20px;
    top: 25vh;
  }
  .carousel #carouselCapstone .carousel-control-prev .polygon-2,
.carousel #carouselCapstone .carousel-control-next .polygon-2 {
    right: 20px;
    top: 25vh;
  }
  .carousel #carouselCapstone .carousel-item.active {
    height: 90vw;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__left img {
    margin-bottom: 0;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right {
    margin-bottom: 0;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right h2 {
    margin-bottom: 0;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right p {
    margin-bottom: 2em;
  }
  .carousel #carouselCapstone .carousel-item.active .carousel__right a {
    padding: 7px 18px 7px 18px;
  }
}/*# sourceMappingURL=index.css.map */